body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

img {
    width: 100%;
    display: block;
}

.header-main {
    font-family: "Jost", sans-serif;
    z-index: 1000;
}

.header-main .header-top {
    padding: 14px 0;
    border-bottom: 1px solid #e1e1e1;
    margin: 0;
    display: block;
}

.container {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

/* header top */

.top-content {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 15px;
    color: #444444;
}

.top-content .top-left-content {
    display: flex;
    gap: 15px;
    text-transform: uppercase;
}

.top-content .top-right-content {
    display: flex;
    gap: 20px;
    text-transform: capitalize;
}

.top-content .top-left-content .lang {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.top-content .top-left-content .lang .down-arrow-icon {
    font-size: 16px;
    height: 18px;
    font-weight: 300;
}

.top-content .top-left-content .curr {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.top-content .top-left-content .curr .down-arrow-icon {
    font-size: 16px;
    height: 18px;
    font-weight: 300;
}

.top-content .top-left-content .curr .dollar-icon {
    font-size: 16px;
    height: 16px;
    font-weight: 300;
}

.top-content .top-left-content .lang::after {
    content: "|";
    padding-left: 13px;
    color: #737373;
}

.top-content .top-right-content .sign-in-content {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.top-content .top-right-content .sign-in-content .sign-in-icon {
    font-size: 14px;
    height: 15px;
    font-weight: 400;

}

.top-content .top-right-content .new-acc-content {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.top-content .top-right-content .new-acc-content .new-acc-icon {
    font-size: 16px;
    height: 15px;
    font-weight: 400;

}

.top-content .top-right-content .sign-in-content:hover,
.top-content .top-right-content .new-acc-content:hover {
    color: #60c97b;
}

/* header top end */


/* header center content */

.header-main .header-center {
    padding: 20px 0;
    margin: 0;
    display: block;
}

.inner-header-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
}

.inner-header-center * {
    vertical-align: middle;
}


.inner-header-center .center-right-content {
    display: flex;
    align-items: center;
    gap: 30px;
}

.inner-header-center .center-left-content .header-logo {
    font-size: 28px;
    font-weight: 700;
    color: #60c97b;
    cursor: pointer;
}

.inner-header-center .center-right-content .search-box input {
    width: 360px;
    align-items: center;
    padding: 17px 45px 17px 15px;
    border-radius: 4px;
    border: none;
    line-height: 1;
    background-color: #eae8e8;
    border-radius: 0;
    box-shadow: #eae8e8 0px 0px 2px 1px;
}

.search-box input::placeholder {
    color: #b4b4b4;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}

.search-box input:focus {
    outline: none;
}

.inner-header-center .center-right-content .cart {
    display: flex;
    align-items: center;
    cursor: pointer;
}


.inner-header-center .center-right-content .cart .shopping-cart-icon {
    font-size: 24px;
    height: 26px;
    font-weight: 400;
    padding: 0 11.5px;
    background-color: #2c3444;
    color: #fff;
}

.inner-header-center .center-right-content .cart .shopping-cart-icon:hover {
    color: #60c97b;
}

.inner-header-center .center-right-content .cart .cart-info {
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    background-color: #60c97b;
    padding: 0 28px;
}

.inner-header-center .center-right-content .cart .shopping-cart-icon,
.inner-header-center .center-right-content .cart .cart-info {
    height: 50px;
    line-height: 47px;
}

.inner-header-center .center-right-content .search-box {
    position: relative;
}

.inner-header-center .center-right-content .search-box .search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.inner-header-center .center-right-content .search-box .search-icon:hover {
    color: #60c97b;
    transition-duration: 0.3s;
}

/* header center content end */

/* header bottom content */

/* parent navigation menu */

.header-main .header-bottom {
    margin: 0;
    display: block;
    background-color: #2c3444;
}


.header-bottom .inner-header-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    display: block;
}

li {
    list-style: none;
}

.inner-header-bottom .nav-menu {
    display: flex;
    margin: 0;
    z-index: 1000;
}

.inner-header-bottom .nav-menu>li>a {
    padding: 17px 25px;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    transition-duration: 0.5s;
    align-items: center;
}

.inner-header-bottom .nav-menu .down-arrow-icon {
    font-size: 16px;
    font-weight: 300;
    transform: translateY(3px);
}

.inner-header-bottom .nav-menu .up-arrow-icon {
    font-size: 16px;
    font-weight: 300;
    transform: translateY(3px);
    display: none;
}

.inner-header-bottom .nav-menu>li>a:hover {
    color: #60c97b;
}

.inner-header-bottom .nav-menu>li>a:hover .down-arrow-icon {
    display: none;
}

.inner-header-bottom .nav-menu>li>a:hover .up-arrow-icon {
    display: inline-block;
}

/* parent navigation menu end */


/* sub navigation menu */

.nav-menu>li {
    position: relative;
}

.nav-menu>li .shop-sub-menu,
.electronics-sub-menu,
.sb-sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: #e8e8e8 0px 2px 2px 1px;
    background-color: #fff;
    width: 230px;
    padding: 10px 0;
}

.nav-menu>li .shop-sub-menu li a,
.electronics-sub-menu li a,
.sb-sub-menu li a {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: #717171;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}

.nav-menu>li .shop-sub-menu li a:hover,
.electronics-sub-menu li a:hover,
.sb-sub-menu li a:hover {
    color: #60c97b;
}

.nav-menu>li:hover .shop-sub-menu,
.nav-menu>li:hover .electronics-sub-menu,
.nav-menu>li:hover .sb-sub-menu {
    display: block;
}

.inner-header-bottom .nav-menu .right-arrow-icon {
    font-size: 16px;
    font-weight: 300;
    transform: translateY(3px);
}

.inner-header-bottom .nav-menu>li>.shop-sub-menu li a .right-arrow-icon,
.inner-header-bottom .nav-menu>li>.electronics-sub-menu li a .right-arrow-icon,
.inner-header-bottom .nav-menu>li>.sb-sub-menu li a .right-arrow-icon {
    display: none;
}

.inner-header-bottom .nav-menu>li>.shop-sub-menu li a:hover .right-arrow-icon,
.inner-header-bottom .nav-menu>li>.electronics-sub-menu li a:hover .right-arrow-icon,
.inner-header-bottom .nav-menu>li>.sb-sub-menu li a:hover .right-arrow-icon {
    display: block;
}

.inner-header-bottom .nav-menu>li>.shop-sub-menu li a:hover .down-arrow-icon,
.inner-header-bottom .nav-menu>li>.electronics-sub-menu li a:hover .down-arrow-icon,
.inner-header-bottom .nav-menu>li>.sb-sub-menu li a:hover .down-arrow-icon {
    display: none;
}

/* inside sub navigation menu */

/* shop sub navigation */

.fashion-sub-menu {
    display: none;
    position: absolute;
    top: 5%;
    left: 100%;
    box-shadow: #e8e8e8 1px 1px 1px 1px;
    background-color: #fff;
    width: 200px;
    padding: 10px 0;
}

.jewellery-sub-menu {
    display: none;
    position: absolute;
    top: 25%;
    left: 100%;
    box-shadow: #e8e8e8 1px 1px 1px 1px;
    background-color: #fff;
    width: 200px;
    padding: 10px 0;
}

.furniture-sub-menu {
    display: none;
    position: absolute;
    top: 50%;
    left: 100%;
    box-shadow: #e8e8e8 1px 1px 1px 1px;
    background-color: #fff;
    width: 200px;
    padding: 10px 0;
}

.autoparts-sub-menu {
    display: none;
    position: absolute;
    top: 75%;
    left: 100%;
    box-shadow: #e8e8e8 1px 1px 1px 1px;
    background-color: #fff;
    width: 200px;
    padding: 10px 0;
}

.shop-sub-menu>li:hover .fashion-sub-menu,
.shop-sub-menu>li:hover .jewellery-sub-menu,
.shop-sub-menu>li:hover .furniture-sub-menu,
.shop-sub-menu>li:hover .autoparts-sub-menu {
    display: block;
}

/* electronics sub navigation */

.mobiles-sub-menu {
    display: none;
    position: absolute;
    top: 5%;
    left: 100%;
    box-shadow: #e8e8e8 1px 1px 1px 1px;
    background-color: #fff;
    width: 200px;
    padding: 10px 0;
}

.cameras-sub-menu {
    display: none;
    position: absolute;
    top: 50%;
    left: 100%;
    box-shadow: #e8e8e8 1px 1px 1px 1px;
    background-color: #fff;
    width: 200px;
    padding: 10px 0;
}

.electronics-sub-menu>li:hover .mobiles-sub-menu,
.electronics-sub-menu>li:hover .cameras-sub-menu {
    display: block;
}

/* sports and books sub menu */

.sports-sub-menu {
    display: none;
    position: absolute;
    top: 5%;
    left: 100%;
    box-shadow: #e8e8e8 1px 1px 1px 1px;
    background-color: #fff;
    width: 200px;
    padding: 10px 0;
}

.books-sub-menu {
    display: none;
    position: absolute;
    top: 50%;
    left: 100%;
    box-shadow: #e8e8e8 1px 1px 1px 1px;
    background-color: #fff;
    width: 200px;
    padding: 10px 0;
}

.sb-sub-menu>li:hover .sports-sub-menu,
.sb-sub-menu>li:hover .books-sub-menu {
    display: block;
}


/* sub navigation menu end */

/* header bottom content end */

/* banner main */

.banner-main {
    font-family: "Jost", sans-serif;
    margin: 0;
    display: block;
    padding: 0;
}

.banner-main .static-banner-1 {
    position: relative;
}

.banner-main .static-banner-1 .banner-text {
    position: absolute;
    top: 42%;
    left: 18%;
    transform: translateY(-50%);
    color: #fff;
}

.banner-main .static-banner-1 .banner-text p {
    font-size: 44px;
    text-align: left;
    text-transform: capitalize;
    line-height: 1.2;
}

.banner-main .static-banner-1 .banner-text p span {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.1;
}

.banner-main .static-banner-1 .banner-text p span strong {
    font-size: 100px;
}

.banner-main .static-banner-1 .banner-shop-button {
    position: absolute;
    top: 70%;
    left: 18%;
    transform: translateY(-50%);
}

.banner-main .static-banner-1 .banner-shop-button a {
    background-color: #2c3444;
    color: #fff;
    padding: 15px 40px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    transition-duration: 0.3s;
}

.banner-main .static-banner-1 .banner-shop-button a:hover {
    background-color: #000000;
}

/* banner left right arrow */

.banner-main {
    position: relative;
}

.banner-main .banner-arrow-left {
    position: absolute;
    top: 53%;
    left: 1.5%;
    transform: translateY(-50%);
    font-size: 45px;
    color: #60c97b;
    cursor: pointer;
    transition-duration: 0.3s;
    border: 1px solid #60c97b;
    border-radius: 5%;
    z-index: 10;
    background-color: rgba(300, 300, 300, 0.5);
}

.banner-main .banner-arrow-right {
    position: absolute;
    top: 53%;
    right: 1.5%;
    transform: translateY(-50%);
    font-size: 45px;
    color: #60c97b;
    cursor: pointer;
    transition-duration: 0.3s;
    border: 1px solid #60c97b;
    border-radius: 5%;
    z-index: 10;
    background-color: rgba(300, 300, 300, 0.5);
}

.banner-main .banner-arrow-left:hover,
.banner-main .banner-arrow-right:hover {
    color: #2c3444;
    border: 1px solid #2c3444;
}

/* banner main end */

/* category main */

/* category heading */

.category-heading-main {
    padding: 30px 0;
    display: block;
    text-align: center;
}

.category-heading-main .category-heading-child {
    font-size: 40px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.category-heading-main .category-heading-child::after,
.category-heading-main .category-heading-child::before {
    content: "";
    width: 200px;
    height: 1px;
    background: #7ac28c;

}

/* category row */

.category-main {
    padding: 15px 0;
    position: relative;
}

.category-main .container {
    max-width: 100%;
    padding: 0 130px;
}

.category-main .category-child-main {
    display: flex;
    gap: 20px;
}

.category-main .category-child-main .category-child {
    width: 12.5%;
}

.category-main .category-child-main .category-child .category-name {
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 10px;
}

.category-main .category-child-main .category-child .category-img img {
    transition: transform 0.4s ease;
}

.category-main .category-child-main .category-child:hover .category-img img {
    transform: scale(1.05);
}

.category-main .category-child-main .category-child:hover .category-name {
    color: #60c97b;
    transition-duration: 0.3s;
}

.category-main .category-child-main .category-child .category-img {
    overflow: hidden;
}

/* category right left arrow */

.category-main .category-arrow-left {
    position: absolute;
    top: 55%;
    left: 5.7%;
    transform: translateY(-50%);
    font-size: 45px;
    color: #60c97b;
    cursor: pointer;
    transition-duration: 0.3s;
    border: 1px solid #60c97b;
    border-radius: 5%;
    z-index: 10;
    background-color: rgba(300, 300, 300, 0.5);
}

.category-main .category-arrow-right {
    position: absolute;
    top: 55%;
    right: 5.7%;
    transform: translateY(-50%);
    font-size: 45px;
    color: #60c97b;
    cursor: pointer;
    transition-duration: 0.3s;
    border: 1px solid #60c97b;
    border-radius: 5%;
    z-index: 10;
    background-color: rgba(300, 300, 300, 0.5);
}

.category-main .category-arrow-left:hover,
.category-main .category-arrow-right:hover {
    color: #2c3444;
    border: 1px solid #2c3444;
}

/* category main end */

/* ad block 1 */

.ad1-main {
    margin: 55px 0;
    display: block;
}

.ad1-main .ad1-child-main {
    display: flex;
    gap: 30px;
}

.ad1-main .ad1-child-main .ad1-child {
    width: 33.33%;
    overflow: hidden;
}

.ad1-main .ad1-child-main .ad1-child img {
    transition: transform 0.4s ease;
}

.ad1-main .ad1-child-main .ad1-child:hover img {
    transform: scale(1.05);
}

/* ad block 1 end */

/* collection block */

/* collection heading */

.collection-heading-main {
    padding: 20px 0;
    display: block;
    text-align: center;
}

.collection-heading-main .collection-heading-child {
    font-size: 40px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.collection-heading-main .collection-heading-child i {
    color: #60c97b;
}

.collection-heading-main .collection-heading-child::after,
.collection-heading-main .collection-heading-child::before {
    content: "";
    width: 200px;
    height: 1px;
    background: #7ac28c;

}

/* collection row block */

.collection-main {
    margin: 35px 0;
    display: block;
}

.collection-main .collection-child-main {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.collection-main .collection-child-main .collection-child {
    width: 25%;
    cursor: pointer;
    padding: 0 15px;
    box-sizing: border-box;
}

.collection-main .collection-child-main .collection-child .collection-details {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 10px;
    margin-bottom: 20px;
}

.collection-main .collection-child-main .collection-child .collection-details .collection-name {
    text-transform: capitalize;
    font-size: 16px;
    color: #555555;
    font-weight: 500;
}

.collection-main .collection-child-main .collection-child .collection-details .collection-name:hover {
    color: #60c97b;
    transition-duration: 0.3s;
}

.collection-main .collection-child-main .collection-child .collection-details .collection-price {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
}

.collection-main .collection-child .collection-details .collection-shop-btn {
    display: flex;

}

.collection-main .collection-child .collection-details .collection-shop-btn p {
    margin: 0;
}

.collection-main .collection-child .collection-details .collection-shop-btn a {
    background-color: #60c97b;
    color: #fff;
    padding: 12px 20px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    transition-duration: 0.3s;
}

.collection-main .collection-child .collection-details .collection-shop-btn a:hover {
    background-color: #2c3444;
}

/* collection new and on sale text */

.collection-main .collection-child-main .collection-child {
    position: relative;
}

.collection-main .collection-child-main .collection-child .collection-new-text,
.collection-main .collection-child-main .collection-child .collection-sale-text {
    position: absolute;
    top: 10px;
    left: 25px;
    background-color: #2c3444;
    color: #fff;
    padding: 2px 10px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 2px;
}

.collection-main .collection-child-main .collection-child .collection-sale-text {
    left: auto;
    right: 25px;
    background-color: rgb(139, 143, 152);

}

/* quick view popup */

.collection-main .collection-child-main .collection-child .collection-img {
    position: relative;
    overflow: hidden;
}

.collection-main .collection-child-main .collection-child .collection-img .quick-view-popup {
    display: block;
    position: absolute;
    bottom: -44px;
    width: 100%;
    background-color: rgba(85, 85, 85, 0.1);
    padding: 13px 0;
    font-size: 14px;
    text-align: center;
    transition: 0.3s;
}

.collection-main .collection-child-main .collection-child:hover .collection-img .quick-view-popup {
    bottom: 0;
    opacity: 1;
}

.collection-main .collection-child-main .collection-child .collection-img .quick-view-popup a {
    display: block;
    line-height: 1;
    color: #555555;
    background-color: #fff;
    width: 100px;
    text-transform: capitalize;
    margin: 0 auto;
    padding: 2px 0;
}

.collection-main .collection-child-main .collection-child .collection-img .quick-view-popup a:hover {
    color: #000000;
    transition-duration: 0.3s;
}

/* collection block end */

/* ad block 2 */

.ad2-main {
    padding-top: 10px;
    padding-bottom: 40px;
    display: block;
}

.ad2-main .container {
    max-width: 100%;
    padding: 0 50px;
}

.ad2-main .ad2-child-main {
    display: flex;
    gap: 30px;
}

.ad2-main .ad2-child-main .ad2-child {
    width: 20%;
    overflow: hidden;
}

.ad2-main .ad2-child-main .ad2-child img {
    transition: transform 0.4s ease;
}

.ad2-main .ad2-child-main .ad2-child:hover img {
    transform: scale(1.05);
}

/* ad block 2 end */

/* new product block */

/* new product heading */

.new-product-heading-main {
    padding: 25px 0;
    display: block;
    text-align: center;
}

.new-product-heading-main .new-product-heading-child {
    font-size: 40px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.new-product-heading-main .new-product-heading-child i {
    color: #60c97b;
}

.new-product-heading-main .new-product-heading-child::after,
.new-product-heading-main .new-product-heading-child::before {
    content: "";
    width: 200px;
    height: 1px;
    background: #7ac28c;

}

/* new product row block */

.new-product-main {
    margin: 20px 0;
    display: block;
}

.new-product-main .new-product-child-main {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.new-product-main .new-product-child-main .new-product-child {
    width: 25%;
    cursor: pointer;
    padding: 0 15px;
    box-sizing: border-box;
}

.new-product-main .new-product-child-main .new-product-child .new-product-details {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 10px;
    margin-bottom: 20px;
}

.new-product-main .new-product-child-main .new-product-child .new-product-details .new-product-name {
    text-transform: capitalize;
    font-size: 16px;
    color: #555555;
    font-weight: 500;
}

.new-product-main .new-product-child-main .new-product-child .new-product-details .new-product-name:hover {
    color: #60c97b;
    transition-duration: 0.3s;
}

.new-product-main .new-product-child-main .new-product-child .new-product-details .new-product-price {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
}

.new-product-main .new-product-child .new-product-details .new-product-shop-btn {
    display: flex;

}

.new-product-main .new-product-child .new-product-details .new-product-shop-btn p {
    margin: 0;
}

.new-product-main .new-product-child .new-product-details .new-product-shop-btn a {
    background-color: #60c97b;
    color: #fff;
    padding: 12px 20px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    transition-duration: 0.3s;
}

.new-product-main .new-product-child .new-product-details .new-product-shop-btn a:hover {
    background-color: #2c3444;
}

/* new product's new and on sale text */

.new-product-main .new-product-child-main .new-product-child {
    position: relative;
}

.new-product-main .new-product-child-main .new-product-child .new-product-new-text,
.new-product-main .new-product-child-main .new-product-child .new-product-sale-text {
    position: absolute;
    top: 10px;
    left: 25px;
    background-color: #2c3444;
    color: #fff;
    padding: 2px 10px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 2px;
}

.new-product-main .new-product-child-main .new-product-child .new-product-sale-text {
    left: auto;
    right: 25px;
    background-color: rgb(139, 143, 152);

}

/* quick view popup */

.new-product-main .new-product-child-main .new-product-child .new-product-img {
    position: relative;
    overflow: hidden;
}

.new-product-main .new-product-child-main .new-product-child .new-product-img .quick-view-popup {
    display: block;
    position: absolute;
    bottom: -44px;
    width: 100%;
    background-color: rgba(85, 85, 85, 0.1);
    padding: 13px 0;
    font-size: 14px;
    text-align: center;
    transition: 0.3s;
}

.new-product-main .new-product-child-main .new-product-child:hover .new-product-img .quick-view-popup {
    bottom: 0;
    opacity: 1;
}

.new-product-main .new-product-child-main .new-product-child .new-product-img .quick-view-popup a {
    display: block;
    line-height: 1;
    color: #555555;
    background-color: #fff;
    width: 100px;
    text-transform: capitalize;
    margin: 0 auto;
    padding: 2px 0;
}

.new-product-main .new-product-child-main .new-product-child .new-product-img .quick-view-popup a:hover {
    color: #000000;
    transition-duration: 0.3s;
}


/* new product block end */